@model ReviewsSite.Models.Product

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <p>@Model.Name</p>
    @*<p>@Model.Review.ReviewContent</p>*@
</body>