body {
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    margin: 2rem;
}

h1 a {text-decoration: inherit;}

h1 a:hover {color:seagreen;}

ul {
    list-style-type: none;
    display: inline-block;
}

ul li {
    float: left;
    font-size: large;
}

li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: inherit;
}

li a:hover {color: seagreen;}

.productList {
    display: none;
}

.productImage{
    height: 300px;
    width: 300px;
}